
  <% job_id = params[:job_id] %>

<%= form_tag "/requirements" do %>

    <div class="col-lg-8 col-md-8 col-md-offset-2 col-lg-offset-2">
      <div class = "row text-center">
        <h1>Add requirments for <%= @job.name %> </h1>
      </div>
      <div class ="row" id="experience_fields" >
        <%= render 'form_experience', requirement: @requirement %>
      </div>
      <div class ="row" id="skill_fields"  >
        <%= render 'form_skill', requirement: @requirement %>
      </div>
      <div class ="row" id="education_fields"  >
        <%= render 'form_education', requirement: @requirement %>
      </div>
      <div class ="row" id="location_fields"  >
        <%= render 'form_location', requirement: @requirement %>
      </div>
      <div class ="row text-center" >
        <%= submit_tag "Skip Job Requirements", class: "btn btn-danger btn-fill btn-wd" %>
        <%= submit_tag "Save Job Requirements", class: "btn btn-info btn-fill btn-wd" %>
      </div>
    </div>

<% end %>






<div class="row" id="experience_field" style="display: none;">
              <div class="col-md-5">
                  <div class="form-group">
                      <label>Experience</label>
                      <%= text_field_tag "requirements[][name]", nil, size:25, placeholder: 'placeholder', class: "form-control border-input "%>
                    </div>
              </div>
              <div class="col-md-4">
                  <div class="form-group">
                      <label>Min Years Experience </label>
                        <%= number_field_tag "requirements[][level]", nil, size:25, placeholder: 'placeholder', class: "form-control border-input "  %>
                      </div>
              </div>
              <%= text_field_tag "requirements[][requirement_type]", "Experience", class: " hidden" %>
              <%= text_field_tag "requirements[][job_id]", job_id, class: " hidden" %>

              <div class="col-md-3">
                  <div class="form-group">
                      <label> Importance </label>
                        <%= select_tag "requirements[][importance]", '<option value="1"> Nice to Have</option><option value="2">Important</option>'.html_safe, class: "form-control border-input " %>
                  </div>
              </div>
          </div>


          <div class="row" id="skill_field" style="display: none;">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Skill</label>
                                <%= text_field_tag "requirements[][name]", nil, size:25, placeholder: 'placeholder', class: "form-control border-input "%>
                              </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Min Experience (Years)</label>
                                  <%= number_field_tag "requirements[][level]", nil, size:25, placeholder: 'placeholder', class: "form-control border-input "  %>
                                </div>
                        </div>
                          <%= text_field_tag "requirements[][job_id]", job_id, class: " hidden" %>
                            <%= text_field_tag "requirements[][requirement_type]", "Skill", class: " hidden" %>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Importance</label>
                                  <%= select_tag "requirements[][importance]", '<option value="1"> Nice to Have</option><option value="2">Important</option>'.html_safe, class: "form-control border-input " %>
                            </div>
                        </div>
                  </div>
                  <div class="row" id="education_field" style="display: none;">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Education</label>
                                <%= text_field_tag "requirements[][name]", nil, size:25, placeholder: 'placeholder', class: "form-control border-input "%>
                              </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Grade</label>
                                  <%= text_field_tag "requirements[][level]", nil, size:25, placeholder: 'placeholder', class: "form-control border-input "  %>
                              </div>
                        </div>
                        <%= text_field_tag "requirements[][requirement_type]", "Education", class: " hidden" %>
                        <%= text_field_tag "requirements[][job_id]", job_id, class: " hidden" %>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Importance</label>
                                  <%= select_tag "requirements[][importance]", '<option value="1"> Nice to Have</option><option value="2">Important</option>'.html_safe, class: "form-control border-input " %>
                            </div>
                        </div>
                  </div>
