<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @requirement.name %>
</p>

<p>
  <strong>Level:</strong>
  <%= @requirement.level %>
</p>

<p>
  <strong>Importance:</strong>
  <%= @requirement.importance %>
</p>

<p>
  <strong>Job:</strong>
  <%= @requirement.job %>
</p>

<%= link_to 'Edit', edit_requirement_path(@requirement) %> |
<%= link_to 'Back', requirements_path %>
