<%= form_for(job) do |f| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row col-lg-offset-2" >
   <div class="col-md-4">
        <div class="field" style="padding-bottom: 10px;">
          <h4 >Job Title</h4>
          <%= f.text_field :name, class: "form-control border-input"%>
        </div>
    </div>
    <div class="col-md-4">
        <div class="field" style="padding-bottom: 20px;">
          <h4>Application Closing Date</h4>
          <%= f.date_select :closing_date %>
        </div>
      </div>
</div>
<div class="row">
  <div class="col-md-8 col-lg-offset-2">
    <div class="field" style="padding-bottom: 15px;">
      <h4>Job Description </h4>
      <p>Copy & Paste your job description here or write it from scratch.</p>
      <%= f.cktext_area :description, :ckeditor => {:toolbar => 'mini'}, name: "editor1" %>
    </div>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function () {
// You can define it before replacing the editor
CKEDITOR.on('instanceReady', function(evt){
    // Do your bindings and other actions here for example
    // You can access each editor that this event has fired on from the event
    var editor = evt.editor;
});

// replace editor
var editorShort = CKEDITOR.editor.replace('popup_editor1');
});
</script>

  <div class="actions" style="padding-bottom: 15px;">
    <div class="text-center">
      <%= link_to 'Cancel', @job, class: " btn btn-danger btn-fill btn-wd"%>
      <button type="submit" class="btn btn-info btn-fill btn-wd">Save Job</button>
    </div>
  </div>

<% end %>
