<% if @jobs.empty? %>
<div class="row text-center">
  <div style="padding: 25px 10% 15px;">
    <h1>To get started please create a job. </h1>
    <h4>Once you've created your first job you can start uploading CVs.</h4>
  </div>
</div>
<div class="row">
  <div class="text-center" style="padding: 10px 30% 15px;">
    <%= link_to 'Create a Job', new_job_path(), class: " btn btn-info btn-fill btn-wd btn-lg"%>
  </div>
</div>


<% else %>


            <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Open Jobs</h4>
                                <p class="category">A list of your open jobs</p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                    <% if current_user.roles.include? Role.find_by_name('superadmin') %>
                                      <th>Job ID</th>
                                      <% end %>
                                    	<th>Job Title</th>
                                    	<!-- <th>Description</th> -->
                                    	<th>Application Closing</th>
                                      <th>Settings</th>
                                    </tr></thead>
                                    <tbody>
                                      <% @jobs.each do |job| %>
                                        <tr>
                                        <% if current_user.roles.include? Role.find_by_name('superadmin') %>
                                          <td><%= job.id %></td>
                                          <% end %>
                                        	<td><%= link_to job.name, job %></td>
                                        	<!-- <td><%=  raw job.description.truncate(200) %></td> -->
                                        	<td><%= job.closing_date %></td>
                                          <td><%= link_to 'Delete', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                                        </tr>
                                      <% end %>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
  <% end %>
