
<div class="col-lg-10 col-md-10 col-md-10 col-md-offset-1">

     <div class="header" style="padding: 15px 10px 25px;">
         <h1 class="title" ><%= @job.name %> <span style="font-size:16px;"><%= link_to 'Edit Job', edit_job_path(@job) %> </span></h1>
           <p class="category"> Application Closing Date: <%= @job.closing_date %></p>

             <% if current_user.roles.include? Role.find_by_name('superadmin') %>
               <div style="padding: 25px 10% 55px;">
                 <%= link_to 'Add a Candidate', new_candidate_path(:job_id => @job.id), class: " btn btn-info btn-fill btn-wd btn-lg"%>
                </div>
             <% end %>

     </div>

<!--START OF PILL NAV MENU  -->
  <div style="padding: 10px 10px 25px;">
       <ul class="nav nav-tabs" >
         <li class="active"><a data-toggle="tab" href="#candidate">Candidates</a></li>
         <li><a data-toggle="tab" href="#description">Description</a></li>
         <li><a data-toggle="tab" href="#requirement">Requirements</a></li>
       </ul>
    </div>
<!-- END OF PILL NAV MENU -->

    <div class="tab-content"><!--Tab CONTENT START -->


      <div id="candidate" class="tab-pane fade in active"><!--CANDIDATE TAB CONTENT START -->

        <% if @job.cvs.empty? %>

          <div class="text-center" style="padding: 25px 10% 15px;">
            <h1 style="padding: 25px 20% 10px;">Please upload your CVs</h1>
            <p  style="padding: 10px 10% 15px;">Once you've uploaded your first CV, our expert team will work with our A.I to identify
              the best candidates based on your job description.
            </p>
            <div style="padding: 25px 10% 55px;">
              <%= link_to 'Add CVs', new_cv_path(:job_id => @job.id), class: " btn btn-info btn-fill btn-wd btn-lg"%>
            </div>
          </div>

        <% else %>
          <% if @job.candidates.empty? %>
              <div class="text-center" style="padding: 25px 10% 15px;">
                <h1 style="padding: 25px 10% 10px;">Thank you for uploading your CVs</h1>
                <p  style="padding: 10px 10% 15px;">Our expert team will work with our A.I. to identify
                  the best candidates within the next 24hrs.
                </p>
                <div style="padding: 25px 10% 55px;">
                  <%= link_to 'Add More CVs', new_cv_path(:job_id => @job.id), class: " btn btn-info btn-fill btn-wd btn-lg"%>
                </div>
              </div>
          <% else %>
          <div class="col-md-12">
                  <div class="card card-plain">
                      <div class="header" style="padding: 35px 1%" >
                          <h2 class="title">Candidates</h2>
                          <p class="category">Candidates are ranked by score</p>
                      </div>
                      <div class="card">
                            <div class="content table-responsive table-full-width">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                    <% if current_user.roles.include? Role.find_by_name('superadmin') %>
                                      <th>ID</th>
                                    <% end %>
                                      <th>Name</th>
                                      <th>CV</th>
                                      <th>Score</th>
                                      <th>Recommendation</th>
                                    </tr>
                                  </thead>
                                    <tbody>
                                      <% @job.candidates.order( 'candidates.score DESC' ).each do |candidate| %>
                                        <tr>
                                        <% if current_user.roles.include? Role.find_by_name('superadmin') %>
                                          <td><%= candidate.id %></td>
                                        <% end %>
                                          <td><%= link_to candidate.name, candidate  %></td>
                                          <td><%= link_to "View CV", candidate.cv.url(:original, false), :target => "_blank" %></td>
                                          <td><%= candidate.score %>%</td>
                                          <td><%= candidate.recommendation %></td>
                                        </tr>
                                      <% end %>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                  </div>
                  </div>
          <% end %>



        <% end %>
        <!--TABLE HEAD  -->

        </div>

<!--END OF CANDIDATE TAB CONTENT  -->
<!--DESCRIPTION TAB CONTENT  -->
      <div id="description" class="tab-pane">

        <div class="content" style="padding-bottom:85px;">
           <h3 style="padding-bottom:15px;">Job Description</h3>
           <p class="description"> <%= raw @job.description %> </p>
        </div>

      </div>
<!--END OF DESCRIPTION TAB CONTENT  -->
<!--DESCRIPTION TAB CONTENT  -->
      <div id="requirement" class="tab-pane">

        <div class="content" style="padding-bottom:85px;">
           <h3 style="padding-bottom:15px;">Requirements <span style = "font-size:14px;"><%= link_to "New Requirement", new_requirement_path(:job_id => @job.id) %></span></h3>
              <%= render 'requirement_experience' %>
              <%= render 'requirement_skills' %>
              <%= render 'requirement_education' %>
        


        </div>

      </div>
<!--END OF DESCRIPTION TAB CONTENT  -->

  </div><!--END of Tab CONTENT  -->
</div>
