 <div class="col-md-10 col-md-offset-1">
                        <div class="card " style="padding-bottom:100px;">
                          <div class="row" style="padding-bottom:30px;">
                            <div class="col-md-6">
                                <div class="header text-left">
                                    <h1 class="title"> <%= @candidate.name %> <span style="font-size:12px;"><%= link_to 'Edit', edit_candidate_path(@candidate) %></span> </h1>
                                </div>
                              </div>
                              <div class="col-md-4 col-md-offset-2">
                                <div class="header text-left">
                                    <h1 class="title"> SCORE <%= @candidate.score %></span> </h1>
                                </div>
                              </div>
                          </div>
                          <p class=" text-center"> <%= @candidate.name %> has great expreince with customer service and soft skill. Would make an ideal candidate for the job role</p>

                          </div>


                                              <%= render 'candidates/partial/requirement_experience' %>
                                              <%= render 'candidates/partial/requirement_skills' %>
                                              <%= render 'candidates/partial/requirement_education' %>
                                              <%= render 'candidates/partial/requirement_location' %>



                        </div>
                    </div>
