<!DOCTYPE html>
<html>
  <head>
    <title>Cvapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag Ckeditor.cdn_url %>
    <script src="//cdn.ckeditor.com/4.5.11/standard/ckeditor.js"></script>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <!-- Flash notifications s -->

    <div class="wrapper">
    <% if user_signed_in? %>
      <%= render 'layouts/sidebar' %>
      <div class="main-panel">
        <%= render 'layouts/header' %>
    <% else %>
      <div class="main-panel-signin">
    <% end %>
          <div class="content">
            <%= render 'layouts/messages' %>
              <div class="container-fluid">

                  <%= yield %>
              </div>
          </div>
        <%= render 'layouts/footer' %>
      </div>
    </div>
  </body>
  <script>
    $('document').ready(function() {
        setTimeout(function() {
          $('#flash').slideUp();
        }, 3000);
      });


  </script>
</html>
